node_modules/
venv/
.env


__pycache__/
*.py[cod]


*.sqlite3


*.log
*.tmp


*.env
.env.*
config/


dist/
build/
*.tsbuildinfo


.DS_Store
.vscode/
.idea/
*.swp


staticfiles/
media/


Thumbs.db
ehthumbs.db