{% extends 'quiz/base.html' %}
{% load static %}

{% block title %}Головна{% endblock %}

{% block content %}
<div class="home-container">
    <h2 class="home-title">Обирай предмет, проходь тести та перевіряй свої знання!</h2>

    <div class="button-grid">
        {% if user.is_authenticated %}
            <p>Привіт, {{ user.username }}!</p>
            <a href="{% url 'profile' %}" class="btn">👤 Профіль</a>
            <a href="{% url 'subject_list' %}" class="btn">📚 До предметів</a>
            <form method="post" action="{% url 'logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="home-button">🚪 Вийти</button>
            </form>
        {% else %}
            <a href="{% url 'singup' %}" class="home-button">📝 Зареєструватися</a>
            <a href="{% url 'login' %}" class="home-button">🔑 Увійти</a>
            <a href="{% url 'subject_list' %}" class="home-button">🧠 Пройти тестування</a>
        {% endif %}
    </div>
</div>
{% endblock %}