{% extends 'quiz/base.html' %}

{% block title %}Профіль{% endblock %}

{% block content %}
<div class="home-container">
    <h2 class="home-title">Профіль користувача</h2>

    <div class="profile-box">
        <p><strong>Ім'я користувача:</strong> {{ user.username }}</p>
        <p><strong>Кількість пройдених тестів:</strong> {{ profile.tests_taken }}</p>
        <p><strong>Загальний бал:</strong> {{ profile.total_score }}</p>
        <p><strong>Середній бал:</strong> {{ profile.average_score|default:"--" }}</p>
        <p><strong>Загальний час у тестах:</strong>
            {% if profile.total_time_spent %}
                {{ total_hours }} год {{ total_minutes }} хв {{ total_seconds }} сек
            {% else %}
                0 сек
            {% endif %}
        </p>
</p>
    </div>

    <div class="button-grid">
        <a class="btn" href="{% url 'home' %}">⬅️ На головну</a>
    </div>
</div>
{% endblock %}