{% extends 'quiz/base.html' %}
{% load static %}

{% block title %}Профіль{% endblock %}

{% block content %}
<div class="home-container">
    <h2 class="home-title">Профіль користувача</h2>

    <div class="profile-box">
        <p><strong>Ім'я користувача:</strong> {{ user.username }}</p>
        <p><strong>Кількість пройдених тестів:</strong> {{ profile.tests_taken }}</p>
        <p><strong>Загальний бал:</strong> {{ profile.total_score }}</p>
    </div>

    <div class="button-grid">
        <a class="btn" href="{% url 'home' %}">На головну</a>
    </div>
</div>
{% endblock %}