<h2>Питання {{ question_index }} із {{ total }}</h2>
<p>{{ question.text }}</p>

<form method="post">
  {% csrf_token %}
  {% for answer in answers %}
      <label>
          <input type="radio" name="answer" value="{{ answer.id }}">
          {{ answer.text }}
      </label><br>
  {% endfor %}

  <button type="submit">Відповісти</button>
  <button type="submit" name="skip" value="1"
          onclick="return confirm('Пропустити це питання? Ви зможете повернутись до нього пізніше.')">
      Пропустити
  </button>
</form>


<h2>Залишилось часу: <span id="timer">10:00</span></h2>

<script>
    let duration = 10 * 60; 
    let display = document.getElementById('timer');

    function startTimer(seconds) {
        let timer = seconds;
        let minutes, secs;

        let countdown = setInterval(function () {
            minutes = parseInt(timer / 60, 10);
            secs = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            secs = secs < 10 ? "0" + secs : secs;

            display.textContent = minutes + ":" + secs;

            if (--timer < 0) {
                clearInterval(countdown);
                alert("Час вичерпано!");
                window.location.href = "{% url 'quiz_result' subject_id %}";
            }
        }, 1000);
    }

    window.onload = function () {
        startTimer(duration);
    };
</script>

<form action="{% url 'end_quiz_early' subject_id %}" method="post" style="margin-top: 20px;">
  {% csrf_token %}
  <button type="submit" onclick="return confirm('Тест буде завершено. Ви отримаєте бали за вже пройдені питання. Продовжити?');">
      Завершити тест
  </button>
</form>
